*, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
    background-color: rgba(29, 33, 40, 1);
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
}

.App{
    width: 100dvw;
    height: 100dvh;
}

    